/* IMPORTS
---------------------------------------------- */
// Required - importing bootstrap scss files
@import "..//bootstrap/scss/bootstrap-grid";
@import "..//bootstrap/scss/variables";
@import "..//bootstrap/scss/mixins";
@import"..//bootstrap/scss/carousel";

/* VARIABLES
This template uses variables to reference colors, fonts, animations etc. To change the style of an element that has it's value given by a variable, please change the value here.
---------------------------------------------- */

// Font-imports komen hier
// Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500;1,700&display=swap');


// ----- COLORS -----
// Main Colors
$mainColorA: #3d5a80;
$mainColorB: #ee6c4d;
$mainColorC: #98c1d9;

// Main Colors
$accentColorA: #e0fbfc;
$accentColorB: #293241;
$accentColorC: #E7B4A5;

// ----- FONTS -----
$HeadingA: 'Montserrat',
sans-serif;
$HeadingB: 'Open Sans',
sans-serif;
$paragraph: 'Open Sans',
sans-serif;

// ----- ANIMATIONS / TRANSITION PRESET -----
$standardOut : all 350ms ease-out;
$standardIn : all 350ms ease-in;
$fastOut : all 200ms ease-out;
$fastIn : all 200ms ease-in;
$slowOut : all 500ms ease-out;
$slowIn : all 500ms ease-out;


// ----- TYPOGRAPHY -----
/*All the default versions of text will be defined here
---------------------------------------------- */
h1 {
    font-family: $HeadingA;
    font-weight: 800;
    color: rgb(14, 14, 14);
}

h2 {
    font-family: $HeadingA;
    font-weight: 600;
    color: rgb(14, 14, 14);
}

h3 {
    font-family: $HeadingB;
    font-weight: 500;
    color: rgb(14, 14, 14);
}

h4 {
    font-family: $HeadingB;
    font-weight: normal;
    color: rgb(14, 14, 14);
}

p {
    font-family: $paragraph;
    font-weight: normal;
    color: rgb(14, 14, 14);
}

a {
    font-family: $paragraph;
    font-weight: normal;
    color: $mainColorB;

    &:hover{
        color: darken($color: $mainColorB, $amount: 10%);
    }
}

li {
    font-family: $paragraph;
    font-weight: normal;
    color: rgb(14, 14, 14);
}


/* BODY & MAIN

All changes directly on body and main go here
---------------------------------------------- */
body,
body>* {
    margin: 0;
    padding: 0;

    &.no-scroll {
        overflow: hidden !important;
    }
}

main {
    padding: 0;
    margin: 50px 0;
}


/* CONTAINERS

Sizing of containers
----------------------.------------------------ */

/* HEADER

Styling for elements within the header go here
---------------------------------------------- */
header#default-header {
    height: 95px;
    background: darken($color: white, $amount: 3%);

    a {
        color: lighten($color: black, $amount: 25%);
        font-weight: 500;
        font-family: $HeadingA;

        &:hover{
            color: lighten($color: black, $amount: 35%);
        }
    }


    .container {
        max-width: 1720px;
        padding: 0 25px;
        height: 100%;
    }

    li{
        a {
            color: lighten($color: black, $amount: 10%);
            font-weight: 500;
            font-family: $HeadingA;
            font-size: 18px;
            display: inline-block;
        }

        &:hover {

            a.dropdown-toggle, i{
                color: $mainColorA;
            }
        }
    }

    .dropdown-toggle{
        &::after{
            display: none;
            content: unset !important;
        }
    }

    .branding-container {
        img{
            padding: 15px 0;
            max-height: 100%;
        }
    }

    nav {
        justify-content: flex-end;

        button {
            padding-right: 0;
            z-index: 10000;

            i {
                font-size: 30px;
                color: lighten($color: black, $amount: 25%);
            }
        }
    }

    .navbar-nav li:hover > ul.dropdown-menu {
        display: block;
    }

    .icon-container {
        a {
            i {
                font-size: 30px;
                text-align: right;
                float: right;
            }
        }
    }

    .dropdown-menu {
        text-align: center;
        border: none;
        border-radius: 0px;
        background: #f4f4f4;
        box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.15);
        padding: 0;
        margin: 0;

        li {
            margin: 0;
            padding: 10px 10px;
            text-align: left;

            &:hover {
                background: #f8f9fa;
            }
        }

        .dropdown-item {
            &:active {
                background: none;
            }
        }
    }

    .navbar-nav li:hover>ul.dropdown-menu {
        display: block;
    }
}


/* SHOWCASE/ LANDING-HERO

Styling for a showcase or hero-section on the landing page goes here
---------------------------------------------- */
#showcase{
    height: 50vh;
    background: darkgray;
}

/* LANDING-PAGE

Specific styling for the front/ landing page goes here (organized by section if possible)
---------------------------------------------- */


/* PAGE-CONTENT

Styling for content on website pages, except the homepage goes here (organized by section if possible)
---------------------------------------------- */


/* BLOG-CONTENT

Styling for blog posts and for blog-archives goes here (organized by section if possible)
---------------------------------------------- */



/* CUSTOM ELEMENTS

All (site wide) custom elements' styling goes here
---------------------------------------------- */
// Default buttons



/* FOOTER

All styling for the footer goes here
---------------------------------------------- */
// TEMPLATE FOOTER - START


// TEMPLATE FOOTER - END


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
    Both responsive and mobile first media queries are given with Bootstrap values.
    ! REMOVE THE TYPE OF MEDIA QUERY THAT IS NOG BEING USED !
*/


// ====== RESPONSIVE (Remove if using mobile first queries) =======
// XL and smaller
@include media-breakpoint-down(xl) {

}

// LG and smaller
@include media-breakpoint-down(lg) {

}

// MD and smaller
@include media-breakpoint-down(md) {
    // HEADER
    header#default-header {

        .navbar-toggler{
            &:focus{
                outline: none !important; // Remove outline when icon is clicked on chrome
            }
        }

        #basicExampleNav {
            position: fixed;
            display: block !important;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: -110vw;
            background: darken($color: white, $amount: 3%);
            z-index: 100;
            transition: $standardOut;

            #menu-hoofdmenu {
                text-align: center;
                width: 50%;
                margin: auto;
                height: 100%;
                justify-content: center;

                li {
                    margin: 10px 0;

                    &:hover {
                        border: none;
                    }
                }
            }
        }

        .dropdown-menu {
            background: none;
            border: none;
            text-align: center;
            padding-top: 0;
            display: block;
            max-height: 0;
            overflow: hidden;
            transition: $standardOut;

            li{
                transition: $standardOut;
            }
        }

        .dropdown-menu.show{
            max-height: 1000px;
        }

        #basicExampleNav.show,
        #basicExampleNav.collapsing {
            left: 0;
        }

        .collapsing {
            -webkit-transition: none;
            transition: none;
            display: none;
        }
    }
}

// SM and smaller
@include media-breakpoint-down(sm) {

}

// XS and smaller
@include media-breakpoint-down(xs) {

}


// ====== MOBILE FIRST (Remove if using repsonsive queries) =======
// XS and up
@include media-breakpoint-up(xs) {

}

// SM and up
@include media-breakpoint-up(sm) {

}

// MD and up
@include media-breakpoint-up(md) {
    header#default-header {
        height: 95px;
        background: darken($color: white, $amount: 3%);
    
        a {
            color: lighten($color: black, $amount: 25%);
            font-weight: 500;
            font-family: $HeadingA;
    
            &:hover{
                color: lighten($color: black, $amount: 35%);
            }
        }
    
    
        .container {
            max-width: 1720px;
            padding: 0 25px;
            height: 100%;
        }
    
        .branding-container {
            img{
                padding: 15px 0;
                max-height: 100%;
            }
        }
    
        nav {
            justify-content: flex-end;
    
            button {
                padding-right: 0;
                z-index: 10000;
    
                i {
                    font-size: 30px;
                    color: lighten($color: black, $amount: 25%);
                }
            }
        }
    
        .icon-container {
            a {
                i {
                    font-size: 30px;
                    text-align: right;
                    float: right;
                }
            }
        }
    }

}

// LG and up
@include media-breakpoint-up(lg) {

}

// XL and up
@include media-breakpoint-up(xl) {

}