/* IMPORTS
---------------------------------------------- */
// Required - importing bootstrap scss files
@import "..//bootstrap/scss/bootstrap-grid";
@import "..//bootstrap/scss/variables";
@import "..//bootstrap/scss/mixins";
@import"..//bootstrap/scss/carousel";

// Thema includes
@import "./includes/variables";


/* BODY & MAIN

All changes directly on body and main go here
---------------------------------------------- */
body,
body>* {
    margin: 0;
    padding: 0;
}

main {
    padding: 0;
}


/* CONTAINERS

Sizing of containers
----------------------.------------------------ */

/* HEADER

Styling for elements within the header go here
---------------------------------------------- */
header {
    height: 90px;

    .logo-container {
        max-height: 100%;

        img {
            max-width: 100%;
            max-height: 65px;
            object-fit: contain;
        }
    }

    .nav-logo-container {
        width: 40%;
        margin: auto;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .collapsing { // <-- Remove the default bootstrap animation for the mobile
        -webkit-transition: none;
        transition: none;
        display: none;
    }
}

/* SHOWCASE/ LANDING-HERO

Styling for a showcase or hero-section on the landing page goes here
---------------------------------------------- */
#showcase{
    height: 50vh;
    background: darkgray;
}

/* LANDING-PAGE

Specific styling for the front/ landing page goes here (organized by section if possible)
---------------------------------------------- */


/* PAGE-CONTENT

Styling for content on website pages, except the homepage goes here (organized by section if possible)
---------------------------------------------- */


/* BLOG-CONTENT

Styling for blog posts and for blog-archives goes here (organized by section if possible)
---------------------------------------------- */



/* CUSTOM ELEMENTS

All (site wide) custom elements' styling goes here
---------------------------------------------- */
// Default buttons



/* FOOTER

All styling for the footer goes here
---------------------------------------------- */
// TEMPLATE FOOTER - START


// TEMPLATE FOOTER - END


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
    For the website template, building the site desktopfirst/ responsive is the default. Therefor the mixins used will use "media-breakpoint-down". If a site is to be build with a specific mobile design or mobile first, start working here and change the mixin to "media-breakpoint-up".
*/

// XS and smaller
@include media-breakpoint-down(xs) {

}

// SM and smaller
@include media-breakpoint-down(sm) {

}

// MD and smaller
@include media-breakpoint-down(md) {

    // TEMPLATE MOBILE NAV - START
    #basicExampleNav {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        background: white;
        top: 0;
        left: 0;
        text-align: center;
        padding-top: 150px;
    }

    .navbar-toggler {
        z-index: 1001;
        position: relative;
    }

    // TEMPLATE MOBILE NAV - END


}

// LG and smaller
@include media-breakpoint-down(lg) {

}

// XL and smaller
@include media-breakpoint-down(xl) {

}