/* IMPORTS
---------------------------------------------- */
// Required - importing bootstrap scss files
@import "..//bootstrap/scss/bootstrap-grid";
@import "..//bootstrap/scss/variables";
@import "..//bootstrap/scss/mixins";
@import"..//bootstrap/scss/carousel";

// Thema includes
@import "../scss-includes/variables";


/* BODY & MAIN

All changes directly on body and main go here
---------------------------------------------- */
body,
body>* {
    margin: 0;
    padding: 0;
}

main {
    padding: 0;
}


/* CONTAINERS

Sizing of containers
----------------------.------------------------ */

/* HEADER

Styling for elements within the header go here
---------------------------------------------- */
header#default-header {
    height: 95px;
    background: darken($color: white, $amount: 3%);

    a {
        color: lighten($color: black, $amount: 25%);
        font-weight: 500;
        font-family: $HeadingA;

        &:hover{
            color: lighten($color: black, $amount: 35%);
        }
    }


    .container {
        max-width: 1720px;
        padding: 0 25px;
        height: 100%;
    }

    .branding-container {
        img{
            padding: 15px 0;
            max-height: 100%;
        }
    }

    nav {
        justify-content: flex-end;

        button {
            padding-right: 0;
            z-index: 10000;

            i {
                font-size: 30px;
                color: lighten($color: black, $amount: 25%);
            }
        }
    }

    .icon-container {
        a {
            i {
                font-size: 30px;
                text-align: right;
                float: right;
            }
        }
    }
}


/* SHOWCASE/ LANDING-HERO

Styling for a showcase or hero-section on the landing page goes here
---------------------------------------------- */
#showcase{
    height: 50vh;
    background: darkgray;
}

/* LANDING-PAGE

Specific styling for the front/ landing page goes here (organized by section if possible)
---------------------------------------------- */


/* PAGE-CONTENT

Styling for content on website pages, except the homepage goes here (organized by section if possible)
---------------------------------------------- */


/* BLOG-CONTENT

Styling for blog posts and for blog-archives goes here (organized by section if possible)
---------------------------------------------- */



/* CUSTOM ELEMENTS

All (site wide) custom elements' styling goes here
---------------------------------------------- */
// Default buttons



/* FOOTER

All styling for the footer goes here
---------------------------------------------- */
// TEMPLATE FOOTER - START


// TEMPLATE FOOTER - END


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
    For the website template, building the site desktopfirst/ responsive is the default. Therefor the mixins used will use "media-breakpoint-down". If a site is to be build with a specific mobile design or mobile first, start working here and change the mixin to "media-breakpoint-up".
*/


// XL and smaller
@include media-breakpoint-down(xl) {

}

// LG and smaller
@include media-breakpoint-down(lg) {

}

// MD and smaller
@include media-breakpoint-down(md) {
    header#default-header {

        #basicExampleNav {
            position: fixed;
            display: block !important;
            width: 100vw;
            height: 100vh;
            top: -110vh;
            left: 0;
            background: darken($color: white, $amount: 3%);
            z-index: 100;
            transition: $standardOut;

            #menu-hoofdmenu {
                text-align: center;
                width: 50%;
                margin: auto;
                height: 100%;
                justify-content: center;

                li {
                    margin: 10px 0;

                    &:hover {
                        border: none;
                    }
                }
            }
        }

        .dropdown-menu {
            background: none;
            border: none;
            text-align: center;
            padding-top: 0;
            display: block;
            max-height: 0;
            overflow: hidden;
            transition: $standardOut;

            li{
                transition: $standardOut;
            }
        }

        .dropdown-menu.show{
            max-height: 500px;
        }

        #basicExampleNav.show,
        #basicExampleNav.collapsing {
            top: 0;
        }

        .collapsing {
            -webkit-transition: none;
            transition: none;
            display: none;
        }
    }
}

// SM and smaller
@include media-breakpoint-down(sm) {

}

// XS and smaller
@include media-breakpoint-down(xs) {

}